/* import style */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --Single-font: "Oswald", sans-serif;
  --second-font: "Open Sans Condensed", sans-serif;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: var(--Single);
  font-size: 0.9em;
  color: whitesmoke;
}

header {
  background: #dd2476;
  background: var(--bggradient);
  font-family: var(--Single-font);
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  background: white;
  min-width: 160px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 15em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: black;
}

header .row .col-md-5 {
  padding: 7vmin 1vmin;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
  font-family: var(--Single-font);
  color: white;
}

header .row .col-md-5 img {
  width: 80%;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
  font-weight: 700;
  font-family: var(--second-font);
}

header .container .col-md-7 button {
  border-radius: 25px;
  font-weight: bold;
  width: 10rem;
}

/* section 2 */

.section-1 {
  padding: 15vmin;
}

.section-1 .container .row .col-md-6 .pray img {
  width: 80%;
  height: 90vh;
  opacity: 0.8;
  border-radius: 0.2rem;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7rem;
  left: -18vmin;
  background-color: white;
  text-align: left;
  border-radius: 0.2rem;
  padding: 8vmin 10vmin 1vmin 10vmin;
  box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.2);
  font-family: var(--Single-font);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: 300;
  letter-spacing: 0.5rem;
  padding: 0px 0px 1rem 0px;
}

.section-1 .row .col-md-6 .panel p {
  font-weight: 100;
  letter-spacing: 0.08px;
  color: rgb(139, 139, 139);
  padding-top: 1rem;
}

/* section 3 */
.cover {
  height: 50vmin;
  width: 100%;
  background: url(../assets/pexels-photo-452738.jpeg);
  background-position: -25rem -20rem;
  background-size: 150%;
  position: relative;
}

.cover .content {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  padding-top: 18vmin;
}

.cover .content>h1 {
  font-family: var(--Single-font);
  font-size: 6vmin;
  color: whitesmoke;
}

.cover .content>p {
  font-family: var(--Single-font);
  font-size: 0.7rem;
  color: rgba(245, 245, 245, 0.452);
}

.numbers .rect {
  position: relative;
  background: white;
  width: 18rem;
  box-shadow: 1rem 0.8em 50px rgba(255, 99, 71, 0.363);
  padding: 3rem 4rem 4rem 5rem;
  height: 12rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.numbers {
  margin-top: -6em;
}

.numbers .rect h1 {
  font-family: var(--Single-font);
  color: tomato;

}

.numbers .rect p {
  font-family: var(--Single-font);
  font-size: 1.5rem;
  font-weight: 800;
}

.purchase>h1 {
  padding-top: 15vmin;
  font-family: var(--Single-font);
  padding-bottom: 0.8rem;

}

.purchase>p {
  font-family: var(--Single-font);
  font-size: 3vmin;
  padding-bottom: 10vmin;

}


.purchase .cards .card {
  width: 22rem;
  margin: 1rem;
}

.cards .title {
  background: rgba(212, 211, 211, 0.2);

  padding: 1.4rem 2.5rem;
  font-size: 2vmin;
  font-family: var(--Single-font);
}

.cards .card-text {
  padding: 1.5rem 3rem;
  color: var(--light-black);
}

.card-body .pricing {
  padding-top: 2rem;
  background: rgba(212, 211, 211, 0.2);
  border-top-left-radius: 170px;
  border-top-right-radius: 170px;
}


.card-body .pricing>h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;
}


.card-body .pricing a {
  border-radius: 0.2rem;
}




/* section 3 */
.section-3 {
  height: 70vmin;
  margin-top: 15vmin;
  background: var(--bggradient);
}

.section-3 .col-md-12>h1 {
  padding: 2rem 0 0.5em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-3 .col-md-12>p {
  padding: 0.4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop {
  background: white;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  width: 20rem;
  display: inline-block;
  justify-content: center;
  margin: 3em;
}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

/* section -4 */

.section-4 .container h1 {
  font-size: 6vmin;
  padding-top: 10vmin;
}

.section-4 .team {
  padding: 10vmin 4vmin;
}


.section-4 .card {
  width: 22rem;
  margin-top: 10vmin;
}

.section-4 .card .card-text {
  padding: 0.5em;
}

.section-4 .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}




/* footer */

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 19vmin;
  margin-top: 1rem;

}

footer p>span {
  color: #ff512f;


}

footer input {
  border: none !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;

}

footer .column i {
  color: #dd2476;
}

footer .column i:hover {
  color: rgb(216, 206, 206);
}

footer .column i+i {
  padding: 0 0.5rem;
}