

/* if the viewport is equal to 340px or less than that */

@media only screen and (max-width : 340px ){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subsribe-us-area .subscribe .subscribe-title,
    .site-main .subsribe-us-area .subscribe .subscribe-title p,h4,
    .site-main .service-area,
    .site-main .subscribe .subscribe
    {
        padding: 2%;
        margin: 0%;
    }
    .site-main .site-banner .site-title h1,h4{
        font-size: 30px;
    }
    .site-main .site-banner .site-title h4{
        font-size: 20px;
    }
.site-main .subscribe-me-area .subscribe .subscribe-title p
{
    font-size: 20px;
    padding: 2%;
    margin: 1%;
}
.site-main .subscribe-me-area .subscribe form  .input-textbox input{
    width: 20rem;
}

.site-main .subscribe-me-area .subscribe form .btn-submit button
{
    margin-top: 80%;margin-right: -50%;
}


.site-main> .service-area .services{
    width: 13rem;
}
.site-main .services-area .services-title{
    padding: 0%;
}
.site-main .brand-area .experience-area .panel-area{
    width: 80%;
}

}


@media only screen and (max-width : 729px ){


    .site-main .about-area .about-title h2 > span{
        font-size: 20px;
        letter-spacing: 5px;
    }

    .site-main .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }
    .site-main .brand-area .experience-area .bg-panel{
        margin-left: 30%;
        width: 80%;
    }
    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }
    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }
    .site-main .about-title .about-title p{
        padding: 0%;
    }
}


@media only screen and (max-width : 1910px ){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width:  90%;
    }

    .site-main .brand-area,
    .site-main .service-area .subscribe-title,
    .site-main .about-area{
        padding: 3% 4%;
    }
}