*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(165, 111, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.window{
    position: absolute;
    width:250px;
    height:300px;
    border-top: 20px groove #fff ;
    border-left: 20px groove #fff;
    border-right: 3vmin groove  #fff;
    border-bottom: 3vmin groove  #fff;
    box-shadow: inset 1vmin 1vmin 0 0.25vmin rgb(22, 6, 6),inset -1.25vmin -1.25vmin 0 0 rgb(0, 0, 0);
    z-index: 50;
    background-image:linear-gradient(-65deg, #65c2f5 0% 30%,#b0d6f5 30% 50%,#65c2f5 50% 60%,#b0d6f5 60% 75%,#65c2f5 70% 100%)
}

.window:before{
    position: absolute;
    content:'';
    width: 12.5rem;
    height: 8rem;
    top: 3rem;
    left: 0.4rem;
    border-bottom: 3vmin solid white;
    border-top: 3vmin solid white;
    box-shadow: 1px 2px 10px 0 #494b4a,inset 0px -1px 10px 0px #565756, inset 0px 2px 10px 0px rgb(153, 153, 153),  0px -1px 10px 0px rgb(99, 98, 98) ; 

}


.window:after{
    position: absolute;
    content:'';
    width: 5rem;
    height: 15.6rem;
    left: 3.5rem;
    top: 0.5rem;
    border-right: 3vmin solid white;
    border-left: 3vmin solid white;
    box-shadow: 0.5px 0 5px 0px rgb(102, 101, 101),inset 1px 0 10px 0 rgb(116, 114, 114);

}

